/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Outfit:wght@100..900&display=swap');

/* utilities */
* {
    font-family: dm sans;
}

.btn-primer {
    background-color: #68489A;
    color: white;
}

.btn-primer:hover {
    background-color: #5a3e7f;
    color: white;
}

/* utilities */

/* navbar */
.navbar-brand img {
    width: 120px;
}

.navbar-nav {
    margin-left: auto;
}

/* navbar */

/* cta */
.cta .card {
    background-image: url(./assets/bg-cta.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    height: 150px;
}

/* cta */

/* kota */
.overlay {
    position: relative;
    overflow: hidden;
}

.overlay img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Overlay ungu */
.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.4);
    /* Ungu transparan */
    border-radius: 12px;
    z-index: 1;
}

.overlay:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Teks di atas gambar */
.overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}
/* kota */

/* footer */
footer {
    background-color: #68489A;
    color: white;
    padding: 20px 0;
}

footer img {
    width: 120px;
}

/* footer */

/* kostan */
.kostan .card {
    background-image: url(./assets/bg-search.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    height: 200px;
}

/* kostan */

/* detail */
.main-image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    height: 10vh;
}

.thumbnail {
    width: 100%;
    object-fit: cover;
    height: 10vh;
    /* bagi rata 3 gambar minus gap */
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
/* detail */